.fields
  .col-md-3.col-md-offset-2
    .form-group
      = f.label t('booking.account')
      = f.collection_select "account_id", Account.where(actable_type: ScoutAccount), :id, :name, {}, class: "form-control"
  .col-md-2
    .form-group
      = f.label t('booking.amount')
      .input-group
        %span.input-group-btn{"data-toggle" => "buttons"}
          %label.btn.btn-default.active
            %input#option1{:autocomplete => "off", :name => 'booking[sign]', :value => "minus", :type => "radio"}
              %span.glyphicon.glyphicon-minus
          %label.btn.btn-default
            %input#option2{:autocomplete => "off", :name => 'booking[sign]', :value => "plus", :type => "radio", :checked => ""}
              %span.glyphicon.glyphicon-plus
        = f.text_field "amount", data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: "form-control"
  .col-md-4
    .form-group
      = f.label t('booking.note2')
      = f.text_field "note2", class: "form-control"
  .col-md-1
    .form-group
      = f.label t('booking.actions')
      = f.text_field "note1", hidden: true, value: "Gruppenleiterkasse"
      = f.text_field "date", hidden: true, value: @date
      = f.text_field :created_by_id, hidden: true, value: @user.id
      = f.text_field "accounting_number", hidden: true, value: @accounting_number
      = link_to_remove_association f, class: "btn btn-info" do 
        %span.glyphicon.glyphicon-trash


