.page-header
  %h1
    = t('pages.count_cash.title')
    %small
      = t('pages.count_cash.debit')
      = number_to_currency @s_account_cash_balance

= form_for :count , { remote: true, url: 'save_cash', html: {id: :count_cash }} do |f|
  .well.col-md-12
    .col-md-2
      .form-group
        = f.label number_to_currency 200
        = f.number_field '200', class: 'form-control count-input', value: @count['200']
      .form-group
        = f.label number_to_currency 100
        = f.number_field '100', class: 'form-control count-input', value: @count['100']
      .form-group
        = f.label number_to_currency 50
        = f.number_field '50', class: 'form-control count-input', value: @count['50']
    .col-md-2
      .form-group
        = f.label number_to_currency 20
        = f.number_field '20', class: 'form-control count-input', value: @count['20']
      .form-group
        = f.label number_to_currency 10
        = f.number_field '10', class: 'form-control count-input', value: @count['10']
      .form-group
        = f.label number_to_currency 5
        = f.number_field '5', class: 'form-control count-input', value: @count['5']
    .col-md-2
      .form-group
        = f.label number_to_currency 2
        = f.number_field '2', class: 'form-control count-input', value: @count['2']
      .form-group
        = f.label number_to_currency 1
        = f.number_field '1', class: 'form-control count-input', value: @count['1']
    .col-md-2
      .form-group
        = f.label number_to_currency 0.5
        = f.number_field '50ct', class: 'form-control count-input', value: @count['50ct']
      .form-group
        = f.label number_to_currency 0.2
        = f.number_field '20ct', class: 'form-control count-input', value: @count['20ct']
      .form-group
        = f.label number_to_currency 0.1
        = f.number_field '10ct', class: 'form-control count-input', value: @count['10ct']
    .col-md-2
      .form-group
        = f.label number_to_currency 0.05
        = f.number_field '5ct', class: 'form-control count-input', value: @count['5ct']
      .form-group
        = f.label number_to_currency 0.02
        = f.number_field '2ct', class: 'form-control count-input', value: @count['2ct']
      .form-group
        = f.label number_to_currency 0.01
        = f.number_field '1ct', class: 'form-control count-input', value: @count['1ct']
  .col-md-4
  .col-md-4
    %h4
      .form-group
        = f.label t('pages.count_cash.total')
        = f.number_field 'total', readonly: true, class: "form-control count-sum", value: @count['total']

:javascript
  compute_sum = function() {
    sum = $("#count_1ct").val() * 0.01 + 
      $("#count_2ct").val() * 0.02 +
      $("#count_5ct").val() * 0.05 +
      $("#count_10ct").val() * 0.1 +
      $("#count_20ct").val() * 0.2 +
      $("#count_50ct").val() * 0.5 +
      $("#count_1").val() * 1 +
      $("#count_2").val() * 2 +
      $("#count_5").val() * 5 +
      $("#count_10").val() * 10 +
      $("#count_20").val() * 20 +
      $("#count_50").val() * 50 +
      $("#count_100").val() * 100 +
      $("#count_200").val() * 200
    $('.count-sum').val(sum);
    $("#count_cash").submit();
  };
  $(document).ready( function() {
    $('.count-input').on("input", compute_sum);
  });
