.row
  .col-md-10
    .page-header
      %h1
        = t('pages.closing.s_closing')
        %small= session[:date]
  .col-md-2
    %br
    %br


.well.col-md-12
  .col-md-3
    %h4
      =t('booking.date_balance')
    %h4
      = number_to_currency @s_account_date_balance   
  .col-md-3    
    %h4
      = t('pages.disbursement.title')
    %h4
      = number_to_currency @s_account_date_disbursements      
  .col-md-3
    %h4
      = t('pages.closing.drawback')
    %h4
      = number_to_currency @s_account_date_drawback
  .col-md-3
    %button.btn.btn-primary{:onclick => "alert('Prost!'); return false;"}
      %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
      = t('pages.closing.drawback_fits')
      -# BUTTON: setzt Disbursement auf cleared

.well.col-md-12
  .col-md-6
    %br
  .col-md-3
    %h4
      = t('booking.scout_account_balance')
    %h4
      = number_to_currency @s_account_balance
  .col-md-3
    %button.btn.btn-primary{:onclick => "alert('Prost!'); return false;"} 
      %span.glyphicon.glyphicon-ok{"aria-hidden" => "true"}
      = t('pages.closing.balance_fits')
    %br
    %br
    .btn-group
      = link_to "Export", scouts_bookkeeping_export_path, class: "btn btn-info"
    
.col-md-12
  = render 'scouts_bookkeeping/count'
