.row
  .col-md-10
    .page-header
      %h1
        = t('pages.scouts_account.title')
        %small= number_to_currency @s_account_cash_balance 
  .col-md-2
    %br
    %br
    .btn-group
      = link_to "Export", scouts_bookkeeping_export_path, class: "btn btn-info"
 

%table.table.table-bordered.table-condensed.table-hover{:style=> "width: 100%"}
  %thead
    %tr
      %th{:style=> "width: 10%"}
        = t('booking.accounting_number')
      %th{:style=> "width: 10%"}
        = t('booking.date')
      %th{:style=> "width: 10%"}
        = t('booking.amount')
      %th{:style=> "width: 15%"}
        = t('booking.note1')
      %th{:style=> "width: 30%"}
        = t('booking.note2')
      %th{:style=> "width: 10%"}
        = t('booking.created_by')
      %th{:style=> "width: 15%"}
        = t('booking.remarks')

   
  %tbody
    - @bookings_cash.each do |c|
      %tr
        = form_for c do |f| 
          %td 
            = c.accounting_number
          %td 
            = c.date.to_formatted_s(:rfc822)
          %td 
            = number_to_currency c.amount
          %td 
            = c.note1
          %td 
            = c.note2
          %td 
            = c.created_by.name
          %td 
            = c.remarks
.row
  .col-md-10
    .page-header
      %h1
        = t('pages.scouts_account.s_account_giro')
        %small
          = number_to_currency @s_account_giro_balance
  .col-md-2
    %br
    %br
    .btn-group
      = link_to "Export", scouts_bookkeeping_export_giro_path, class: "btn btn-info"
 
%table.table.table-bordered.table-condensed.table-hover{:style=> "width: 100%"}
  %thead
    %tr
      %th{:style=> "width: 10%"}
        = t('booking.accounting_number')
      %th{:style=> "width: 10%"}
        = t('booking.date')
      %th{:style=> "width: 10%"}
        = t('booking.amount')
      %th{:style=> "width: 15%"}
        = t('booking.note1')
      %th{:style=> "width: 30%"}
        = t('booking.note2')
      %th{:style=> "width: 10%"}
        = t('booking.created_by')
      %th{:style=> "width: 15%"}
        = t('booking.remarks')
   
  %tbody
    - @bookings_giro.each do |c|
      %tr
        = form_for c do |f| 
          %td 
            = c.accounting_number
          %td 
            = c.date.to_formatted_s(:rfc822)
          %td 
            = number_to_currency c.amount
          %td 
            = c.note1
          %td 
            = c.note2
          %td 
            = c.created_by.name
          %td 
            = c.remarks
