.page-header
  %h1
    = t('pages.scouts_payment.title')
    %small= session[:date]

.well.col-md-12
  = form_for :booking, url: create_payment_path, method: :post do |f|
    .col-md-3 
      .form-group
        = f.label t('controller.scouts')
        = f.collection_select(:scout_id, @scouts, :id, :full_name, {}, class: "form-control")
      .form-group
        = f.label t('booking.payment.title')
        = f.collection_select(:payment_type, {in: 'Einzahlung', out: 'Auszahlung'}, :first, :last, {}, class: "form-control")
    .col-md-3
      .form-group
        = f.label t('booking.account')
        = f.collection_select(:account_id, Account.where("name like ?", '%Gruppenleiter%'), :id, :name, {:selected => @s_account_cash.id} ,class: "form-control")  
      .form-group
        = f.label t('booking.amount')
        = f.text_field :amount, class: "form-control"
    .col-md-3
      .form-group
        = f.label t('booking.remarks')
        = f.text_area :remarks, class: "form-control"
      .form-group 
        = f.submit t('buttons.send'), class: 'btn btn-primary'
        

%h3
  = t('booking.payment.title')

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('booking.account')
      %th 
        = t('booking.accounting_number')
      %th
        = t('booking.date')
      %th
        = t('booking.amount')
      %th
        = t('booking.created_by')
      %th
        = t('booking.remarks')
        
  %tbody
    - @payments.each do |p|
      %tr
        = form_for p do |f| 
          %td
            - if p.account
              = p.account.name
          %td
            = p.accounting_number
          %td
            = p.date
          %td
            = p.amount
          %td
            - if p.created_by
              = p.created_by.name
          %td
            = p.remarks



%br            
%h3
  = t('pages.scouts_account.consumption')

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('pages.disbursement.date')
      %th
        = t('goods.beer')
        = number_to_currency Good.get_price(:beer, session[:date])
      %th
        = t('goods.soft_drink')
        = number_to_currency Good.get_price(:soft_drink, session[:date])
      %th
        = t('goods.sausage')
        = number_to_currency Good.get_price(:sausage, session[:date])
      %th
        = t('goods.pork')
        = number_to_currency Good.get_price(:pork, session[:date])
      %th
        = t('goods.turkey')
        = number_to_currency Good.get_price(:turkey, session[:date])
      %th= t('goods.other')
      %th= t('booking.created_by')
      %th= t('goods.total') 
      
  %tbody
    - @scout_consumptions.each do |c|
      %tr
        -#= form_for c do |f| 
          %td= c.date
          %td= c.beer
          %td= c.soft_drink
          %td= c.sausage
          %td= c.pork
          %td= c.turkey
          %td= number_to_currency c.other
          %td= c.created_by
          %td= number_to_currency c.total     
     