.page-header
  %h1
    Statistik
    %small= session[:date]


.well.col-md-6
  %h3
    Bisher verbraucht
  %table.table.table-bordered.table-condensed.table-hover{:style=> "width: 100%"}
    %thead
      %tr
        %th{:style=> "width: 20%"} Bier
        %th{:style=> "width: 20%"} Wurst
        %th{:style=> "width: 20%"} Schwein
        %th{:style=> "width: 20%"} Pute
        %th{:style=> "width: 20%"} Mais
  
    %tbody
      %tr
        %td= @count_beer
        %td= @count_sausage
        %td= @count_pork
        %td= @count_turkey
        %td= @count_corn
  
  %table.table.table-bordered.table-condensed.table-hover{:style=> "width: 100%"}
    %thead
      %tr
        %th{:style=> "width: 33%"} Anti GL
        %th{:style=> "width: 33%"} Anti Kinder
        %th{:style=> "width: 33%"} Anti gesamt
  
    %tbody
      %tr
        %td= @count_scouts_softdrink
        %td= @count_children_softdrink
        %td= @count_softdrink

  %table.table.table-bordered.table-condensed.table-hover{:style=> "width: 100%"}
    %thead
      %tr
        %th{:style=> "width: 50%"} Kästen Bier
        %th{:style=> "width: 50%"} Kästen Anti
  
    %tbody
      %tr
        %td= @count_beer_crate   
        %td= @count_softdrink_crate


-# .col-md-3.col-md-offset-1.well
-#  %h3 Bierkönig
-#  %table.table.table-bordered.table-condensed.table-hover
-#    %thead
-#      %tr
-#        %th Name
-#        %th Anzahl Bier
-#    %tbody
-#      @scouts.each do |c| 
-#        %tr
-#          %td= c.full_name
-#          %td= c.beer_consumption
