%h1 Listing tents

%table
  %thead
    %tr
      %th Number
      %th
      %th
      %th

  %tbody
    - @tents.each do |tent|
      %tr
        %td= tent.number
        %td= link_to 'Show', tent
        %td= link_to 'Edit', edit_tent_path(tent)
        %td= link_to 'Destroy', tent, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Tent', new_tent_path
