%h1 Listing children

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th First name
      %th Last name
      %th Birthday
      %th Phone
      %th Tent
      %th

  %tbody
    - @children.each do |child|
      %tr
        %td= link_to child.first_name, child
        %td= link_to child.last_name, child
        %td= child.birthday.strftime "%d.%m.%Y"
        %td= truncate child.phone, length: 80
        %td
          - if child.tent
            = link_to child.tent.number, child.tent
          - else
            -
        %td
          = link_to 'Edit', edit_child_path(child), class: "btn btn-default btn-xs"
          = link_to 'Destroy', child, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'New Child', new_child_path
