.row
  .col-md-8
    %h1.page-header
      Kinder
      %small
        = @children.count
  .col-md-4
    %br
    %br
    .btn-group
      = link_to 'Neues Kind', new_child_path, class: "btn btn-primary"
      = link_to "Nummern neu vergeben", children_identify_new_path, class: "btn btn-info"


%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Nummer
      %th Vorname
      %th Nachname
      %th Geburtsdatum
      %th Alter
      %th Bild
      %th Zelt
      %th

  %tbody
    - @children.each do |child|
      %tr
        %td= child.number
        %td= link_to child.first_name, child
        %td= link_to child.last_name, child
        %td= child.birthday.strftime "%d.%m.%Y"
        %td= child.age
        %td
          - if child.image
            %img.center-block.img-rounded#child_image{style: "width: 18px; heigth: 18px;", src: "#{child.image}",  "data-toggle" => "modal", 'data-target' => "#myModal"}
              .modal.fade#myModal{tabindex: -1, role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> true}
                .modal-dialog
                  .modal-content
                    .modal-header
                      %h3= child.full_name
                    .modal-body
                      %img.img-responsive#child_image_overlay{src: "#{child.image}"}
                      
              :javascript
                function centerModal() {
                    $(this).css('display', 'block');
                    dialog = $(this).find(".modal-dialog");
                    offset = ($(window).height() - dialog.height()) / 2;
                    dialog.css("margin-top", offset);
                }
                $('.modal').on('show.bs.modal', centerModal);
                $(window).on("resize", function () {
                    $('.modal:visible').each(centerModal);
                });    
        %td
          - if child.tent
            = link_to "Zelt #{child.tent.number}", child.tent
        %td{width: '70px;'}
          .btn-group
            = link_to edit_child_path(child), class: "btn btn-default btn-xs" do
              %span.glyphicon.glyphicon-edit
            = link_to child, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs" do
              %span.glyphicon.glyphicon-trash

