.row
  .col-md-10
    %h1.page-header
      = @child.first_name
      = @child.last_name
      %small
        = @child.birthday.strftime "%d.%m.%Y"
  
  .col-md-2
    %br
    %br
    = link_to 'Bearbeiten', edit_child_path(@child), class: "btn btn-primary"

.row  
  .col-md-2
    - if @child.tent
      %h2
        %b 
          Zelt
          = @child.tent.number
      %p
        %b= @child.tent.scouts.map {|a| a.first_name}.join(', ')
      %p
        = @child.tent.children.map {|a| a.full_name}.join(', ')
    - else
      Zelt Zuteilung fehlt
  
  .col-md-2
    %h2
      Guthaben:
      = number_to_currency @child.account_balance
  .col-md-4
    %img.center-block.img-rounded#child_image{style: "width: 140px; heigth: 140px;", src: "#{@child.image}",  "data-toggle" => "modal", 'data-target' => "#myModal"}
    .modal.fade#myModal{tabindex: -1, role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> true}
      .modal-dialog
        .modal-content
          .modal-header
            %h3= @child.full_name
          .modal-body
            %img.img-responsive#child_image_overlay{src: "#{@child.image}"}
            
    :javascript
      function centerModal() {
          $(this).css('display', 'block');
          dialog = $(this).find(".modal-dialog");
          offset = ($(window).height() - dialog.height()) / 2;
          dialog.css("margin-top", offset);
      }
      $('.modal').on('show.bs.modal', centerModal);
      $(window).on("resize", function () {
          $('.modal:visible').each(centerModal);
      });

  .col-md-4
    .well
      = simple_format @child.phone
      

%br
.row
  .col-md-8
    %h3 Buchungen
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th Date
          %th Account
          %th Amount
          %th Note1          
          %th Note2
          %th Remarks
  
      %tbody
        - @child.account.bookings.each do |booking|
          %tr
            %td= booking.date.strftime "%d.%m.%Y"
            %td= booking.account ? booking.account.name : "-"
            %td= number_to_currency booking.amount
            %td= booking.note1
            %td= booking.note2
            %td= booking.remarks
  
  .col-md-4
    %h3 Verbrauch
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th Date
          %th Amount
            
      %tbody
        - @child.child_consumptions.each do |consumption|
          %tr
            %td= consumption.date.strftime "%d.%m.%Y"
            %td= number_to_currency consumption.total
            
