.fields
  .col-md-5
    .form-group
      = f.label t('controller.scouts')
      = f.collection_select "account_id", @scouts, :id, :full_name, {}, class: "form-control"
  .col-md-3
    .form-group
      = f.label t('booking.amount')
      .input-group
        %span.input-group-addon
          %span.glyphicon.glyphicon-euro
        = f.text_field "amount", data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: "form-control"
  .col-md-3
    .form-group
      = f.label t('booking.remarks')
      = f.text_field "remarks", class: "form-control"

  .col-md-1
    .form-group
      = f.label t('booking.actions')
      = link_to_remove_association "remove task", f, class: "btn btn-danger"

