.page-header
  %h1
    = t('pages.mainbookkeeping.title2')
    %small= session[:date]

.well.col-md-12
  = form_for :booking, url: create_billing_path, method: :post do |f|
    .col-md-2
      .form-group
        = f.label t('booking.amount')
        .input-group
          %span.input-group-btn{"data-toggle" => "buttons"}
            %label.btn.btn-primary.active
              %input#option1{:autocomplete => "off", :checked => "", :name => :sign, :value => "minus", :type => "radio"}
                %span.glyphicon.glyphicon-minus
            %label.btn.btn-primary
              %input#option2{:autocomplete => "off", :name => :sign, :value => "plus", :type => "radio"}
                %span.glyphicon.glyphicon-plus
          = f.text_field :amount, class: "form-control"
    .col-md-2
      .form-group
        = f.label t('booking.note1')
        = f.text_field :note1, class: "form-control"
    .col-md-4
      .form-group
        = f.label t('booking.note2')
        = f.text_field :note2, class: "form-control"
    .col-md-3
      .form-group
        = f.label t('booking.remarks')
        = f.text_field :remarks, class: "form-control"
    .col-md-1
      .form-group
        = f.label t('booking.actions')
        = f.number_field :account_id, hidden: true, value: @m_account.id
        = f.submit t('buttons.send'), class: 'btn btn-primary'
 
%br
%br   
.well.col-md-12
  .col-md-8
    %h4
      =t('booking.date_balance')
    %h4
      = number_to_currency @m_account_date_balance
      
  .col-md-3    
    %h4
      = t('booking.balance')
    %h4
      = number_to_currency @m_account_balance
    
%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('booking.accounting_number')
      %th
        = t('booking.amount')
      %th
        = t('booking.note1')
      %th
        = t('booking.note2')
      %th
        = t('booking.created_by')
      %th
        = t('booking.remarks')

        
  %tbody
    - @bookings.each do |c|
      %tr
        = form_for c do |f| 
          %td 
            = c.accounting_number
          %td 
            = number_to_currency c.amount
          %td 
            = c.note1
          %td 
            = c.note2
          %td 
            = c.created_by.name
          %td 
            = c.remarks

        