.page-header
  %h1
    = t('pages.mainbookkeeping.title2')
    %small= session[:date]

.well.col-md-12
  = form_for @booking, method: :post do |f|
    .col-md-3
      .form-group
        = f.label t('booking.amount')
        = f.text_field :amount, class: "form-control"
      .form-group
        = f.label t('booking.note1')
        = f.text_field :note1, class: "form-control"
      .form-group
        = f.label t('booking.note2')
        = f.text_field :note2, class: "form-control"
    .col-md-3
      .form-group
        = f.label t('booking.remarks')
        = f.text_area :remarks, class: "form-control"
      .form-group
        = f.number_field :account_id, hidden: true, value: @lagerkasse.id
        = f.submit t('buttons.send'), class: 'btn btn-primary'
        

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('booking.accounting_number')
      %th
        = t('booking.amount')
      %th
        = t('booking.note1')
      %th
        = t('booking.note2')
      %th
        = t('booking.remarks')
      %th
        = t('booking.created_by')
        
  %tbody
    - @bookings.each do |c|
      %tr
        = form_for c do |f| 
          %td 
            = c.accounting_number
          %td 
            = number_to_currency c.amount
          %td 
            = c.note1
          %td 
            = c.note2
          %td 
            = c.remarks
          %td 
            = c.created_by ? c.created_by.name : '??'
        