.page-header
  %h1
    = t('pages.mainbookkeeping.title')
    

%h4
  = t('booking.balance')
%h4
  = number_to_currency @m_account_balance

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('booking.accounting_number')
      %th
        = t('booking.date')
      %th
        = t('booking.amount')
      %th
        = t('booking.note1')
      %th
        = t('booking.note2')
      %th
        = t('booking.created_by')
      %th
        = t('booking.remarks')
   
  %tbody
    - @bookings.each do |c|
      %tr
        = form_for c do |f| 
          %td 
            = c.accounting_number
          %td 
            = c.date.to_formatted_s(:rfc822)
          %td 
            = number_to_currency c.amount
          %td 
            = c.note1
          %td 
            = c.note2
          %td 
            = c.created_by.name
          %td 
            = c.remarks