= form_for @booking do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"
      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :date
    = f.date_select :date, {}, class: 'form-control'
  .field
    = f.label :account
    = f.collection_select :account_id, Account.all, :id, :name, {}, class: 'form-control'
  .field
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .field
    = f.label :note1
    = f.text_field :note1, class: 'form-control'
  .field
    = f.label :note2
    = f.text_field :note2, class: 'form-control'
  .field
    = f.label :remarks
    = f.text_field :remarks, class: 'form-control'
  .actions
    .btn-group
      = f.submit 'Speichern', class: "btn btn-primary"
      = link_to "Zurück", :back, class: "btn btn-default"

