.row
  .col-md-10
    %h1.page-header
      Buchungen
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neue Buchung', new_booking_path, class: "btn btn-primary"

%table.table.table-condensed.table-bordered.table-hover
  %thead
    %tr
      %th 
        = t('booking.date')
      %th
        = t('booking.account')
      %th 
        = t('booking.amount')
      %th 
        = t('booking.note1')
      %th
        = t('booking.note2')
      %th
        = t('booking.remarks')
      %th 
        = t('booking.created_by')
      %th 
        = t('booking.updated_by')
      %th 
        = t('booking.accounting_number')
      %th

  %tbody
    - @bookings.each do |booking|
      %tr
        %td= booking.date ? booking.date.strftime("%d.%m.%Y") : nil
        %td= booking.account ? booking.account.name : booking.account
        %td= number_to_currency booking.amount
        %td= booking.note1
        %td= booking.note2
        %td= booking.remarks
        %td= booking.created_by ? booking.created_by.name : booking.created_by
        %td= booking.updated_by ? booking.created_by.name : '-'
        %td= booking.accounting_number
        %td
          .btn-group
            = link_to edit_booking_path(booking), class: "btn btn-xs btn-default" do
              %span.glyphicon.glyphicon-edit
            = link_to booking, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger" do
              %span.glyphicon.glyphicon-trash
