.row
  .col-md-10
    %h1.page-header
      Benutzer
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neuer Benutzer', new_user_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th 
        = t('overview.name')
      %th 
        = t('user.news_written')
      %th
        = t('user.bookings_created')
      %th
        = t('user.bookings_updated')
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.name, user
        %td= user.news.count
        %td= user.bookings_created.count
        %td= user.bookings_updated.count
        %td
          .btn-group
            = link_to edit_user_path(user), class: "btn btn-default btn-xs" do
              %span.glyphicon.glyphicon-edit
            = link_to user, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs" do
              %span.glyphicon.glyphicon-trash  
