.page-header.col-md-10
  %h1
    = t('pages.shop.title')
    %small= session[:date]
  
= form_for :child_consumption, url: new_child_consumption_path, method: :post do |f|  
  .col-md-2
    %br
    %br
    %br
    .btn-group#form-control{role: :group}
      .dropdown.btn-group#form-control
        %button.btn.btn-default.dropdown-toggle#time_of_day_dropdown{"aria-expanded"=> true, "data-toggle" => "dropdown"}
          - if session[:time_of_day]
            = t('time_of_day.'+session[:time_of_day])
          - else
            = t('shop.please_select_time_of_day')
          %b.caret
        %ul.dropdown-menu
          %li{role: :presentation}= link_to t('time_of_day.noon'), select_time_of_day_path(time_of_day: :noon), method: :post
          %li{role: :presentation}= link_to t('time_of_day.evening'), select_time_of_day_path(time_of_day: :evening), method: :post
          
  .well.col-md-12
    .col-md-4
      .form-group
        = f.label t('children.number')
        = f.autocomplete_field :child_number, shop_autocomplete_child_number_path, update_elements: {}, 'data-id-element' => '#child_consumption_child_id', class: 'form-control'
        :javascript
          update_child = function() {
            console.log("updating child");
          };
          $(document).ready( function() {
            $('#child_consumption_child_number').on("input", update_child);
          });
          
      .form-group
        = f.label t('shop.child')
        = f.autocomplete_field :child_full_name, shop_autocomplete_child_first_name_path, update_elements: {}, 'data-id-element' => '#child_consumption_child_id', class: 'form-control'
        = f.text_field :child_id, hidden: true
      .form-group
        %img.center-block.img-rounded#child_image{style: "width: 140px; heigth: 140px;", src: '',  "data-toggle" => "modal", 'data-target' => "#myModal"}
        .modal.fade#myModal{tabindex: -1, role: "dialog", 'aria-labelledby' => "myModalLabel", 'aria-hidden'=> true}
          .modal-dialog
            .modal-content
              .modal-body
                %img.img-responsive#child_image_overlay{src: ""}
                
        :javascript
          function centerModal() {
              $(this).css('display', 'block');
              dialog = $(this).find(".modal-dialog");
              offset = ($(window).height() - dialog.height()) / 2;
              dialog.css("margin-top", offset);
          }
          $('.modal').on('show.bs.modal', centerModal);
          $(window).on("resize", function () {
              $('.modal:visible').each(centerModal);
          });

    
    .col-md-2
      .form-group
        = f.label t('shop.fifty_cent')
        .input-group#form-control
          %span.input-group-addon#form-control= number_to_currency 0.5
          = f.number_field :fifty_cent, class: 'form-control new-input'
      .form-group
        = f.label t('shop.twenty_cent')
        .input-group#form-control
          %span.input-group-addon#form-control= number_to_currency 0.2
          = f.number_field :twenty_cent, class: 'form-control new-input'
    .col-md-2
      .form-group
        = f.label t('shop.ten_cent')
        .input-group#form-control
          %span.input-group-addon#form-control= number_to_currency 0.1
          = f.number_field :ten_cent, class: 'form-control new-input'
      .form-group
        = f.label t('shop.five_cent')
        .input-group#form-control
          %span.input-group-addon#form-control= number_to_currency 0.05
          = f.number_field :five_cent, class: 'form-control new-input'
    .col-md-2
      .form-group
        = f.label (t('shop.soft_drink') + ' ' + (number_to_currency Good.get_price(:soft_drink, session[:date])))
        .input-group#form-control
          %span.input-group-addon#form-control
            %span.glyphicon.glyphicon-glass
          = f.number_field :soft_drink, class: 'form-control new-input'
      .form-group
        = f.label t('shop.other')
        .input-group#form-control
          %span.input-group-addon#form-control
            %span.glyphicon.glyphicon-euro
          = f.text_field :other, class: 'form-control new-input'
      .form-group
        = f.label t('shop.total')
        .input-group#form-control
          %span.input-group-addon#form-control
            %span.glyphicon.glyphicon-shopping-cart{"aria-hidden" => true}
          = f.number_field :total, class: 'form-control', readonly: true
      
    .col-md-2
      .form-group
        = f.label t('shop.current_balance')
        .input-group#form-control
          %span.input-group-addon#form-control
            %span.glyphicon.glyphicon-euro
          = f.text_field :current_balance, data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: 'form-control', readonly: true
      .form-group
        = f.label t('shop.new_balance')
        .input-group#form-control
          %span.input-group-addon#form-control
            %span.glyphicon.glyphicon-euro
          = f.text_field :new_balance, data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: 'form-control', readonly: true
      .form-group
        = f.label 'Actions'
        .input-group#form-control
          = f.submit t('buttons.send'), class: 'btn btn-primary'


%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th
        = t('goods.soft_drink')
        = number_to_currency Good.get_price(:soft_drink, session[:date])
      %th= t('goods.other')
      %th
      %th
      %th
      %th= t('goods.total') 
      %th Balance
    %tr
      %th= t('pages.childs_account.total')
      %th= @child_consumptions.map{|sc| sc.soft_drink.to_i}.sum
      %th= number_to_currency @child_consumptions.map{|sc| sc.other.to_f }.sum
      %th
      %th
      %th
      %th= number_to_currency @child_consumptions.each.map { |sc| sc.total }.sum
      %th= number_to_currency @child_consumptions.each.map { |sc| sc.child.account_balance }.sum
      
  %tbody
    - @child_consumptions.each do |c|
      %tr
        = form_for c, {url: update_child_consumption_path(c)} do |f| 
          %td= link_to c.child.full_name, c.child
          %td.input-group-sm= f.number_field :soft_drink, class: 'form-control consumption_amount'
          %td.input-group-sm= f.text_field :other, data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: 'form-control consumption_other'
          %td
            %span.badge= c.time_of_day
          %td
            %span.label.label-primary= c.created_by
            %br
            %span.label.label-default= c.edited_by
          %td= f.submit t('buttons.save'), class: "btn btn-default"
          %td= number_to_currency c.total
          %td= number_to_currency c.child.account_balance


:javascript
  $('#child_consumption_child_number').bind('railsAutocomplete.select', function(event, data) {
    child_id = data.item.id;
    $.get('shop/child_data/'+child_id, function(child_data, textStatus) {
      $('#child_consumption_current_balance').val(child_data.account_balance);
      $('#child_image').attr("src", child_data.image);
      $('#child_image_overlay').attr("src", child_data.image);
      $('#child_consumption_child_full_name').val(child_data.full_name)
    });
  }); 
  $('#child_consumption_child_full_name').bind('railsAutocomplete.select', function(event, data) {
    child_id = data.item.id;
    $.get('shop/child_data/'+child_id, function(child_data, textStatus) {
      $('#child_consumption_current_balance').val(child_data.account_balance);
      $('#child_image').attr("src", child_data.image);
      $('#child_image_overlay').attr("src", child_data.image);
      $('#child_consumption_child_number').val("["+child_data.number.toString()+"]")
    });
  });
  
  compute_sum = function() {
    other = parseFloat($("#child_consumption_other").val()) || 0;
    sum = $("#child_consumption_five_cent").val() * 0.05 +
      $("#child_consumption_ten_cent").val() * 0.1 +
      $("#child_consumption_twenty_cent").val() * 0.2 +
      $("#child_consumption_fifty_cent").val() * 0.5 +
      $("#child_consumption_soft_drink").val() * "#{Good.get_price(:soft_drink, session[:date])}" +
      other;
    $('#child_consumption_total').val(sum);
    new_balance = $('#child_consumption_current_balance').val() - sum;
    $('#child_consumption_new_balance').val(new_balance);
  };
  $(document).ready( function() {
    $('.new-input').on("input", compute_sum);
  });
