
%table.table.table-condensed
  %tr
    %h4
      = t('pages.news.latest')
    %table.table
      %thead
        %tr
          %th 
            = t('pages.news.time')
          %th
            = t('pages.news.user')
          %th
            = t('pages.news.comment')
      %tbody
        - @latest_news.each do |news|
          %tr
            %td= news.created_at.to_formatted_s :short
            %td= news.user ? news.user.name : nil
            %td
              %p= news.comment
            %td
              = link_to news_path(news), method: :delete, :data => { :confirm => 'Wird gelöscht. Sicher?' }, class: "btn btn-xs" do
                %span.glyphicon.glyphicon-trash

            

  %tr
    %h4
      = t('pages.news.new')
    = form_for @news do |f|
      .field
        = f.text_area :comment, size: "10x3", class: "form-control"
      .actions
        = f.submit 'Speichern', class: "btn btn-sm btn-primary"
