.row
  .col-md-10
    %h1.page-header
      Disbursements
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'New Disbursement', new_disbursement_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Time
      %th Benutzer
      %th Text
      %th

  %tbody
    - @news.each do |news|
      %tr
        %td= news.created_at.to_formatted_s :short
        %td
          - if news.user
            = news.user.name
        %td= news.comment
        %td
          = link_to 'Edit', edit_news_path(news), class: "btn btn-xs btn-primary"
          = link_to 'Destroy', news, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"
