.row
  .col-md-10
    %h1.page-header
      Kommentare
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neuer Kommentar', new_news_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Time
      %th Benutzer
      %th Text
      %th

  %tbody
    - @news.each do |news|
      %tr
        %td= news.created_at.to_formatted_s :short
        %td
          - if news.user
            = news.user.name
        %td= news.comment
        %td
          .btn-group
            = link_to edit_news_path(news), class: "btn btn-xs btn-default" do
              %span.glyphicon.glyphicon-edit
            = link_to news, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger" do
              %span.glyphicon.glyphicon-trash
