.row
  .col-md-10
    %h1.page-header
      Settings
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'New Setting', new_setting_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Key
      %th Value
      %th

  %tbody
    - @settings.each do |setting|
      %tr
        %td= setting.key
        %td= setting.value
        %td
          = link_to 'Edit', edit_setting_path(setting), class: "btn btn-xs btn-primary"
          = link_to 'Destroy', setting, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"
