%h1.page-header
  Import from file
.well  
  = form_for :upload, {url: :upload} do |f|
    = f.radio_button :data, :children
    = f.label "Kinder"
    %br
    = f.radio_button :data, :scouts
    = f.label "Gruleis"
    %br
    = f.radio_button :data, :tents
    = f.label "Zelte"
    %br
    = f.radio_button :data, :tent_members
    = f.label "Zeltmitgliedschaften"
    = f.file_field :file
    = f.submit "Upload"
