%h4
  = t('pages.disbursement.listing_disbursements')

%table.table
  %thead
    %tr
      %th 
        = t('pages.disbursement.date')
      %th 
        = t('pages.disbursement.account')
      %th 
        = t('pages.disbursement.amount')
      %th 
        = t('pages.disbursement.user')
      %th 

  %tbody

    - @disbursements.each do |disbursement|

      %tr
        %td= disbursement.date ? disbursement.date.to_formatted_s(:short) : nil
        %td= disbursement.account ? disbursement.account.name : nil
        %td= number_to_currency disbursement.amount
        %td= disbursement.user ? disbursement.user.name : nil
        %td
          = link_to clear_disbursement_path(disbursement), method: :post, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs" do 
            %span.glyphicon.glyphicon-trash
           
          
  
       
  
