%p#notice= notice

%p
  %b Date:
  = @disbursement.date
%p
  %b Accounts:
  = @disbursement.account
%p
  %b Cleared:
  = @disbursement.cleared
%p
  %b Amount:
  = @disbursement.amount
 
%p
  %b User:
  = @disbursement.user

= link_to 'Edit', edit_disbursement_path(@disbursement)
\|
= link_to 'Back', disbursements_path
