.row
  .col-md-10
    %h1.page-header
      Gruppenleiter
      %small
        = @scouts.count
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neuer Grulei', new_scout_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th First name
      %th Last name
      %th Birthday
      %th Tent
      %th

  %tbody
    - @scouts.each do |scout|
      %tr
        %td= link_to scout.first_name, scout
        %td= link_to scout.last_name, scout
        %td= scout.birthday
        %td
          - if scout.tent
            = link_to "Zelt #{scout.tent.number}", scout.tent
        %td
          = link_to 'Edit', edit_scout_path(scout), class: "btn btn-default btn-xs"
          = link_to 'Destroy', scout, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'New Scout', new_scout_path
