%h1 Listing scouts

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th First name
      %th Last name
      %th Birthday
      %th Tent
      %th

  %tbody
    - @scouts.each do |scout|
      %tr
        %td= scout.first_name
        %td= scout.last_name
        %td= scout.birthday
        %td
          - if scout.tent
            = scout.tent.number
          - else
            -
        %td
          = link_to 'Edit', edit_scout_path(scout), class: "btn btn-default btn-xs"
          = link_to 'Destroy', scout, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'New Scout', new_scout_path
