.row    
  .col-md-10
    %h1.page-header
      = @scout.first_name
      = @scout.last_name
      %small
        = @scout.birthday.strftime "%d.%m.%Y"

  .col-md-2
    %br
    %br
    = link_to 'Bearbeiten', edit_scout_path(@scout), class: "btn btn-primary"

.row  
  .col-md-5
    - if @scout.tent
      %h2
        %b 
          Zelt
          = @scout.tent.number
      %p
        %b= @scout.tent.scouts.map {|a| a.first_name}.join(', ')
      %p
        = @scout.tent.children.map {|a| a.full_name}.join(', ')
    - else
      Zelt Zuteilung fehlt
  
  .col-md-5
    %h2
      Guthaben:
      = number_to_currency @scout.account_balance

%br
.row
  .col-md-5
    %h3 Buchungen
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th Date
          %th Amount
          %th Note1
          %th Note2
  
      %tbody
        - @scout.account.bookings.each do |booking|
          %tr
            %td= booking.date.strftime "%d.%m.%Y"
            %td= number_to_currency booking.amount
            %td= booking.note1
            %td= booking.note2
  
  .col-md-4
    %h3 Verbrauch
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th Date
          %th Amount
          
      %tbody
        - @scout.scout_consumptions.each do |consumption|
          %tr
            %td= consumption.date.strftime "%d.%m.%Y"
            %td= number_to_currency consumption.total
   
  .col-md-3
    %h3 Statistik
    %table.table.table-condensed.table-bordered
      %thead
        %tr
          %th was
          %th wieviel
      
      %tbody
        %tr
          %td Bier
          %td= @scout.beer_consumption
        %tr
          %td Anti
          %td= @scout.soft_drink_consumption
        %tr
          %td Wurst
          %td= @scout.sausage_consumption
        %tr
          %td Schwein
          %td= @scout.pork_consumption
        %tr
          %td Pute
          %td= @scout.turkey_consumption
        %tr
          %td Mais
          %td= @scout.corn_consumption