.page-header.col-md-12
  %h1
    = t('pages.children_bookkeeping.payment')
    %small= session[:date]
          
.well.col-md-12
  = form_for :booking, url: create_payment_path, method: :post do |f|
    .col-md-4
      .form-group
        = f.label t('shop.child')
        = f.autocomplete_field :child_full_name, shop_autocomplete_child_first_name_path, update_elements: {}, 'data-id-element' => '#booking_child_id', class: 'form-control'
        = f.text_field :child_id, hidden: true
      .form-group
        = f.label t('booking.payment.title')
        = f.collection_select(:payment_type, {in: 'Einzahlung', out: 'Auszahlung'}, :first, :last, {}, class: "form-control")
    .col-md-3
      .form-group
        = f.label t('booking.account')
        = f.collection_select(:account_id, Account.where("name like ?", '%Kinder%'), :id, :name, {}, class: "form-control")  
      .form-group
        = f.label t('booking.amount')
        .input-group
          %span.input-group-addon
            %span.glyphicon.glyphicon-euro
          = f.text_field :amount, data: {autonumeric: {aSign: ' €', pSign: 's'}}, class: "form-control"
    .col-md-3
      .form-group
        = f.label t('booking.remarks')
        = f.text_area :remarks, class: "form-control"
      .form-group 
        = f.submit t('buttons.send'), class: 'btn btn-primary'

%h3
  = t('booking.payment.title')

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th= t('booking.accounting_number')
      %th= t('booking.date')
      %th= t('booking.account')
      %th= t('booking.amount')
      %th= t('booking.note1_payment')
      %th= t('booking.note2_payment')
      %th= t('booking.remarks')
      %th= t('booking.created_by')
        
  %tbody
    - @payments.each do |p|
      %tr
        = form_for p do |f| 
          %td= p.accounting_number
          %td= p.date.strftime "%d.%m.%Y"
          %td
            - if p.account
              = p.account.name
          %td= number_to_currency p.amount
          %td= p.note1
          %td= p.note2
          %td
            - if p.created_by
              = p.created_by.name
          %td
            = p.remarks

