.row
  .col-md-10
    %h1.page-header
      Waren/Preise
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neue Ware/Preis', new_good_path, class: "btn btn-primary"
      
%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th Preis
      %th ab Datum
      %th

  %tbody
    - @goods.each do |good|
      %tr
        %td= t('goods.'+good.type)
        %td= number_to_currency good.price
        %td= good.date.strftime "%d.%m.%Y"
        %td
          .btn-group
            = link_to edit_good_path(good), class: "btn btn-default btn-xs" do
              %span.glyphicon.glyphicon-edit
            = link_to good, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs" do
              %span.glyphicon.glyphicon-trash
                
