%h1 Listing goods

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th Name
      %th Price
      %th Date
      %th

  %tbody
    - @goods.each do |good|
      %tr
        %td= t('goods.'+good.type)
        %td= number_to_currency good.price
        %td= good.date
        %td
          = link_to 'Edit', edit_good_path(good), class: "btn btn-default btn-xs"
          = link_to 'Destroy', good, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'New Good', new_good_path
