.row
  .col-md-10
    %h1.page-header
      Konten
  .col-md-2
    %br
    %br
    .btn-group
      = link_to 'Neuer Account', new_account_path, class: "btn btn-primary"

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Balance
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.id
        %td= link_to account.name, account
        %td= number_to_currency account.balance
        %td
          .btn-group
            = link_to edit_account_path(account), class: "btn btn-default btn-xs" do
              %span.glyphicon.glyphicon-edit
            = link_to account, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs" do
              %span.glyphicon.glyphicon-trash
