%h1 Listing accounts

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th

  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.id
        %td= link_to account.name, account
        %td
          = link_to 'Edit', edit_account_path(account), class: "btn btn-default btn-xs"
          = link_to 'Destroy', account, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger btn-xs"

%br

= link_to 'New Account', new_account_path
